body{
    background-color: #937E7F;
}

.comming-soon{ 
    display: flex;
    justify-content: center;
}

.comming-soon p{
    border-style: hidden;
    border-bottom-color: white;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
}